1. Apresente a porcentagem de missões que deram certo

In [27]:
import numpy as np

dataset = np.loadtxt('space.csv', delimiter=';', dtype=str, encoding='utf-8')

cond = dataset[1:, 7] == 'Success'

total = dataset[1:, 7].size
sucessos = dataset[1:, 7][cond].size

print(f'{sucessos/total*100:.2f}% dos lançamentos foram bem sucedidos.')

89.71% dos lançamentos foram bem sucedidos.

2. Qual a média de gastos de uma missão espacial se baseando em missões que possuam valores disponíveis(>0)?

In [43]:
cond2 = dataset[1:, 6] != '0'

custototal = dataset[1:, 6][cond2].astype(float).sum()
media = custototal / dataset[1:, 6][cond2].size

print(f'O custo médio dos lançamentos foi de {media:.2f} bilhões de dólares.')

O custo médio dos lançamentos foi de 153.79 bilhões de dólares.

3. Encontre quantas missões espaciais neste Dataset foram realizadas pelos Estados Unidos(EUA)

In [48]:
cond3 = np.char.find(dataset[1:, 2], 'USA')

print(f'{dataset[1:, 2][cond3 != -1].size} lançamentos foram feitos pelos Estados Unidos.')

1344 lançamentos foram feitos pelos Estados Unidos.

4. Encontre qual foi a missão mais cara realizada pela empresa "SpaceX"

In [54]:
cond4 = dataset[1:, 1] == 'SpaceX'
print(f'A missão mais cara da SpaceX custou {dataset[1:, 6][cond4].astype(float).max()} bilhões de dólares.')

A missão mais cara da SpaceX custou 90.0 bilhões de dólares.

5. Mostre o nome das empresas que já realizaram missões espaciais, juntamente com suas respectivas quantidades de missões (use o for no final para mostrar as informações)

In [60]:
empresas = np.unique(dataset[1:, 1])
for empresa in empresas:
    cond5 = dataset[1:, 1] == empresa
    print(f'{empresa} teve {dataset[1:, 1][cond5].size} missões.')

AEB teve 3 missões.
AMBA teve 8 missões.
ASI teve 9 missões.
Arianespace teve 279 missões.
Arm??e de l'Air teve 4 missões.
Blue Origin teve 12 missões.
Boeing teve 136 missões.
CASC teve 251 missões.
CASIC teve 5 missões.
CECLES teve 4 missões.
CNES teve 8 missões.
Douglas teve 1 missões.
EER teve 1 missões.
ESA teve 13 missões.
Eurockot teve 13 missões.
ExPace teve 10 missões.
Exos teve 4 missões.
General Dynamics teve 251 missões.
IAI teve 11 missões.
ILS teve 46 missões.
IRGC teve 1 missões.
ISA teve 13 missões.
ISAS teve 30 missões.
ISRO teve 76 missões.
JAXA teve 7 missões.
KARI teve 3 missões.
KCST teve 5 missões.
Khrunichev teve 1 missões.
Kosmotras teve 22 missões.
Land Launch teve 7 missões.
Landspace teve 1 missões.
Lockheed teve 79 missões.
MHI teve 84 missões.
MITT teve 7 missões.
Martin Marietta teve 114 missões.
NASA teve 203 missões.
Northrop teve 83 missões.
OKB-586 teve 2 missões.
OneSpace teve 1 missões.
RAE teve 2 missões.
RVSN USSR teve 1777 missões.
Rocket Lab teve 13 missões.
Roscosmos teve 55 missões.
SRC teve 3 missões.
Sandia teve 1 missões.
Sea Launch teve 36 missões.
SpaceX teve 100 missões.
Starsem teve 1 missões.
ULA teve 140 missões.
US Air Force teve 161 missões.
US Navy teve 17 missões.
UT teve 5 missões.
VKS RF teve 201 missões.
Virgin Orbit teve 1 missões.
Yuzhmash teve 2 missões.
i-Space teve 1 missões.